#mainPanel
{
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

#usernamePanel
{
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

#deleteUserPanel
{
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}